<div id="header">
    <table>
        <tr>
            <td>
                <a href="http://www.cgi-iugs.org/"><img src="assets/images/logo-iugs.png" height="100px"/></a>
                <a href="http://www.cgi-iugs.org/"><img src="assets/images/title.jpg" height="100px"/></a>
                <a href="http://www.geosciml.net"><img src="assets/images/logo-geosciml.png" height="100px"/></a>
            </td>
        </tr>
        <tr>
            <td>
                <div id="ga-nav">
                    <a href="http://www.cgi-iugs.org/">CGI Home</a>
					<a href="http://www.cgi-iugs.org/tech_collaboration/earthResourceML.html">EarthResourceML Home</a>
					<a href="http://www.geosciml.org">GeoSciML</a>
                    <a href="http://resource.geosciml.org">Vocabularies</a>
                </div>
            </td>
        </tr>
    </table>
    <div id="ga-colour-strip-container">
        <div id="ga-colour-strip"></div>
    </div>
</div>

